pyspark
pytest
alabaster
Babel
backports.ssl-match-hostname
certifi
docutils
hdfs
Jinja2
jsonschema
MarkupSafe==0.23
mistune
mock
nose
numpy
pandoc
pdfrw
Pillow
ptyprocess
Pygments
pyparsing
python-dateutil
pytz
pyzmq
reportlab
requests
rst2pdf
sh
six
snowballstemmer
Sphinx
sphinx-rtd-theme
terminado
tornado
py4j==0.10.7
pandas
matplotlib
heapdict
jupyter