pyspark==2.4.0
py4j==0.10.7
hdfs
numpy
pandas
matplotlib
jupyter
pytest
requests
python-dateutil

backports.ssl-match-hostname
certifi
jinja2
jsonschema
mock
nose
pyparsing
pytz
sh
six
# jupyter
ptyprocess
pyzmq
terminado
tornado
# docs
alabaster
babel
docutils
markupsafe
rst2pdf
snowballstemmer
sphinx
sphinx-rtd-theme
pandoc
pdfrw
pillow
pygments
reportlab
mistune
